.primary-color{
    -fx-background-color: #ffffff;
    -fx-text-fill:#383838;
}

.second-color{
    -fx-prompt-text-fill: #2a2020 ;
    -fx-text-fill:#383838;
}

.round-border{
    -fx-background-radius: 100;
}